<div class= "container">
<h1 align= "center"> My photo </h1>
<table class="table table-condensed", align= "center">
  <tr class= "info">
    <th>Title</th>
    <th>Option</th>
  <% @photos.each do |photo| %>
    <tr>
      <td><%= link_to photo.title, photo_path(photo) %></td>
      <td><%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-success" %>
      <%= link_to 'Destroy', photo_path(photo), class: "btn btn-danger", method: :delete, data:{confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Photo', new_photo_path, class: "btn btn-primary btn-xs" %>
</div>
